/* :root{
    --purple500:#281154;
    --purple300:#270082;
    --purple300:#1b0058;
    --red600:#dc0000;
    --body:white;
    --max-width:1244px; 
}   */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top:50px ;
  }
/* navigation section */
header{
    background-color: #1b0058;
    position: sticky;
    top:0;
    z-index:100;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
nav,li{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:30px;
    text-decoration: none;
}
li{
    font-size:15px;
    letter-spacing: 0.05rem;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:10px 30px;
}
.logo{
    font-family: cursive;
    font-size:20px;
}
nav ul li {
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;
}
nav ul li:hover {
    border-bottom: 2px solid white;
    transition: 0.2s ease-in;
}
/* 1st section */
.first-section{
    background-image:url(hero_image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:scroll;
    min-height: 955px;
}
.txt{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:35px;
}
.txt h1{
    font-size: 90px;
    font-family: cursive,Tahoma, Geneva, Verdana, sans-serif;
    margin-top:220px;
    text-shadow: 7px 5px 5px rgba(255, 255, 255, 0.802);
}
.txt h3{
    font-family:monospace;
    font-size: 20px;
    font-weight: lighter;

}
.txt p{
    text-align: center;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif; 
    line-height: 24px;
    padding :0 80px;
    font-size: 17px;
}
/* music section */
.music-section{
    padding-top: 50px;
    background-color: #281154;
    
}
.music-container{
    display: flex;
    flex-direction: column;
    gap:60px;
    justify-content: center;
    align-items: center;
    color:white;
}
.music-container img{
    position: relative;
    top:400px;
    margin-top: -350px;
}
.primary-bttn{
    padding: 10px 15px;
    font-size: 26px;
    border: none;
    color: white;
    background-color:#dc0000;
    transition: 0.2s ease-in-out;
}
.primary-bttn:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.secondary-bttn{
    padding: 10px 15px;
    font-size: 25px;
    border: none;
    color: white;
    background-color:#281154;
    transition: 0.2s ease-in-out;
}
.secondary-bttn:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.about-music{
    border-color: #F9F6FF;
    padding-top: 500px;
    display: flex;
    flex-direction: column;
    gap:60px;
    justify-content: center;
    align-items: center;
    color:#270082;

}
.about-music h3{
    color: black;
    font-size: 37px;
    padding :0 70px;
    max-width: 2500px;
    text-align: center;
}
.about-music p{
    padding :0 100px;
    font-size: 27px;
    max-width: 2500px;
    text-align: center;
}
.music-container h2{
    font-size: 50px;
    font-family:sans-serif;
    padding :0 70px;
    max-width: 2500px;
    text-align: center;
}
.music-container span{
    margin-right: 12px;
}
.music-container h4{
    font-size: 24px;
    font-family: monospace;
}
.music-container p{
    padding :0 100px;
    font-size: 27px;
    max-width: 2500px;
    text-align: center;
}
/* second section */
.second-section{
    background-image: url(video.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:scroll;
    min-height: 620px;
    margin-top: 60px;
    display: flex;
    color: white;
    flex-direction: column;
    padding: 240px 20px;
    gap:40px;
    align-items: center;
}
.second-section h3{
    font-size: 34px;
    padding :0 70px;
    max-width: 2500px;
    text-align: center;
    font-family: sans-serif;
}
.second-section p{
    padding :0 100px;
    font-size: 17px;
    max-width: 2500px;
    text-align: center; 
    font-weight: lighter;
}
/* gift section */
.gift-section{
    min-width: 600px;
    padding: 100px 100px;
}
.gift-container{
    display: grid;
    grid-template-areas: "I1 I2 I2";
    grid-gap: 50px;
}
.img-gift{
    grid-area: I1;
}
.gift-content{
    grid-area: I2;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.gift-content h3{
    align-items: baseline;
    font-size: 40px;
    font-weight:500;
    letter-spacing: 3px;
    word-spacing: 3px;
}
.gift-content p{
    max-width: 900px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 300;
}
.secondary-bttn-two{
    padding: 10px 5px;
    max-width:150px;
    font-size: 22px;
    border: none;
    color: white;
    background-color:#281154;
    transition: 0.2s ease-in-out;
}
.secondary-bttn-two:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
/* about */
.last-info{
    background-color: #1B0058;
    min-height: 400px;
    max-width:100%;
}
.last-section-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
    gap: 50px;
    margin-left:80px;
    margin-right: 80px;
    overflow: hidden;
}
.txt-info ul{
    flex-direction: column;
    gap:10px;   
    list-style-type: none; 
}
.txt-info h4{
    font-size: 22px;
    font-family: monospace;
}
.txt-info li{
    font-size: 18px;
    margin-bottom: 5px;
}
.txt-info{
    margin-top: 90px;
}
/* footer */
footer{
    background-color: #270082;
    color: white;
    height: 75px;
}
.footer-txt h4{
    font-size: 26px;
    font-weight: 300;
    font-style: oblique;
    font-family: cursive;
    text-align: center;
    padding-top: 20px;
}






